.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container {
    padding: 16px;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: calc(100% - (96px));
}

.center {
    @extend .container;
    justify-content: center;
}

.filter {
    p {
        color: grey;
    }

    h2 {
        margin-bottom: 0;
    }
}

.row {
    display: flex;
    flex-direction: row;
}

.mtl-16 {
    margin-top: 16px;
    margin-left: 16px;
}

.full-width {
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    width: 150px;
    animation: fadein 2s;

    .full-price {
        text-decoration: line-through;
        margin: 0;
        color: #b1b1b1;
        font-size: 12px;
    }

    h4 {
        margin-top: 0;
    }

    h5 {
        height: 48px;
    }

    .flex {
        display: flex;
    }
}

.cart {
    display: flex;
    height: 100%;
    margin-bottom: 10px;

    .item {
        display: flex;
        flex-direction: column;
        line-height: 20px;
        overflow: hidden;
        padding: 4px;
    }
}

.mat-menu-item {
    margin-bottom: 5px;
    margin-top: 5px;
    height: 100%;
}

.mat-menu-item .mat-icon {
    margin-right: 0px;
}

.grey {
    color: grey;
}

.green {
    color: rgb(0, 138, 0);
}

.resume {
    padding: 10px;;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}