$md-marvel: (
    50 : #fde4e5,
    100 : #eea403,
    200 : #f68e92,
    300 : #f26166,
    400 : #f03f45,
    500 : #ed1d24,
    600 : #eb1a20,
    700 : #e8151b,
    800 : #e51116,
    900 : #e00a0d,
    A100 : #ffffff,
    A200 : #ffd7d7,
    A400 : #ffa4a5,
    A700 : #ff8b8c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);